<?xml version="1.0" encoding="UTF-8"?>
<web-app >

    <servlet>
        <servlet-name>Rank</servlet-name>
        <servlet-class>p2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Rank</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>