<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <servlet>
        <servlet-name>RankServlet</servlet-name>
        <servlet-class>RankServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RankServlet</servlet-name>
        <url-pattern>/RankServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
